In [348]:
import pandas as pd

In [349]:
#seperately look at pork
article = "Beef chunks"
d = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct': 10, 'Nov':11, 'Dec':12}

In [350]:
df = pd.DataFrame(pd.read_excel(f"{article}.xlsx", header=9, index_col = 0))

In [351]:
df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1980,1.821,1.843,1.855,1.818,1.807,1.793,1.780,1.842,1.865,1.861,1.852,1.863
1981,1.856,1.832,1.824,1.783,1.783,1.781,1.764,1.795,1.817,1.798,1.807,1.806
1982,1.794,1.799,1.767,1.769,1.785,1.817,1.786,1.761,1.769,1.754,1.744,1.754
1983,1.756,1.770,1.755,1.773,1.778,1.767,1.721,1.715,1.692,1.686,1.680,1.675
1984,1.721,1.739,1.751,1.750,1.747,1.723,1.692,1.690,1.685,1.694,1.700,1.710
1985,1.711,1.726,1.725,1.716,1.687,1.668,1.651,1.640,1.642,1.617,1.668,1.684
1986,1.662,1.663,1.656,1.627,1.589,1.601,1.613,1.622,1.638,1.650,1.661,1.652
1987,1.694,1.650,1.684,1.696,1.698,1.714,1.710,1.716,1.717,1.711,1.745,1.751
1988,1.736,1.742,1.750,1.745,1.740,1.771,1.753,1.745,1.766,1.781,1.808,1.792
1989,1.806,1.795,1.846,1.817,1.817,1.798,1.807,1.820,1.825,1.839,1.868,1.880
1990,1.907,1.952,1.941,1.969,1.974,1.971,1.953,1.972,1.991,1.968,1.999,2.022
1991,1.996,1.992,1.971,1.980,1.988,1.987,1.960,1.970,1.950,1.942,1.949,1.932
1992,1.926,1.932,1.972,1.949,1.924,1.917,1.857,1.880,1.894,1.896,1.909,1.908
1993,1.970,1.957,1.984,2.000,1.975,1.933,1.945,1.911,1.886,1.913,1.922,1.907
1994,1.892,1.882,1.904,1.872,1.857,1.865,1.797,1.841,1.853,1.857,1.826,1.838
1995,1.847,1.859,1.881,1.839,1.866,1.821,1.798,1.818,1.776,1.853,1.846,1.850
1996,1.799,1.796,1.764,1.808,1.736,1.734,1.803,1.823,1.797,1.844,1.867,1.848
1997,1.850,1.857,1.822,1.831,1.854,1.848,1.802,1.841,1.844,1.847,1.851,1.811
1998,1.818,1.798,1.842,1.841,1.796,1.796,1.768,1.823,1.806,1.809,1.809,1.818
1999,1.834,1.862,1.834,1.833,1.812,1.815,1.810,1.826,1.852,1.866,1.863,1.882
2000,1.903,1.894,1.911,1.925,1.921,1.955,1.954,1.953,1.946,1.959,1.952,1.976
2001,2.037,2.059,2.057,2.052,2.113,2.157,2.114,2.101,2.150,2.132,2.143,2.161
2002,2.152,2.214,2.196,2.097,2.145,2.098,2.138,2.175,2.065,2.116,2.086,2.121
2003,2.131,2.203,2.196,2.206,2.191,2.239,2.194,2.220,2.286,2.350,2.491,2.621
2004,2.585,2.558,2.473,2.486,2.522,2.485,2.462,2.537,2.512,2.484,2.461,2.465
2005,2.478,2.531,2.519,2.504,2.572,2.542,2.541,2.502,2.535,2.564,2.568,2.606
2006,2.607,2.556,2.568,2.599,2.508,2.543,2.459,2.543,2.508,2.542,2.564,2.606
2007,2.630,2.639,2.628,2.676,2.766,2.739,2.734,2.695,2.744,2.705,2.738,2.702
2008,2.725,2.791,2.832,2.829,2.798,2.835,2.785,2.964,2.981,2.956,2.987,2.999
2009,2.961,3.019,2.976,2.994,2.876,2.873,2.800,2.843,2.782,2.785,2.797,2.828
2010,2.825,2.881,2.824,2.890,2.921,2.965,2.936,2.849,2.915,2.978,2.949,2.932
2011,2.991,3.058,3.151,3.250,3.277,3.211,3.272,3.231,3.105,3.218,3.197,3.265
2012,3.292,3.294,3.366,3.327,3.379,3.448,3.449,3.447,3.482,3.514,3.460,3.464
2013,3.406,3.408,3.417,3.479,3.461,3.403,3.423,3.511,3.445,3.492,3.610,3.585
2014,3.586,3.733,3.745,3.886,3.849,3.907,3.917,4.024,4.201,4.294,4.260,4.217
2015,4.375,4.403,4.364,4.323,4.308,4.324,4.266,4.222,4.195,4.119,4.082,4.025
2016,4.019,3.945,3.929,3.933,3.902,3.840,3.807,3.912,3.791,3.742,3.703,3.619
2017,3.621,3.549,3.590,3.675,3.645,3.768,3.866,3.785,3.801,3.703,3.775,3.729
2018,3.668,3.659,3.728,3.775,3.688,3.824,3.786,3.738,3.701,3.692,3.745,3.709
2019,3.727,3.847,3.831,3.907,4.023,3.951,4.001,4.019,3.885,4.027,3.993,4.066
2020,4.100,4.033,4.108,4.343,4.789,5.330,4.732,4.307,4.165,4.212,4.330,4.202
2021,4.310,4.252,4.377,4.290,4.495,4.565,4.521,4.636,4.786,4.869,4.810,4.792
2022,4.765,4.627,4.870,4.945,4.894,4.997,5.075,5.120,4.890,4.789,4.728,4.758

In [352]:
## To remove index row with index number NaN

#df = df[df.index.notnull()][0:-3]

In [353]:
## For pork Excel file

# df['month'] = df.index.month
# df['year'] = df.index.year

In [354]:
df = df.stack().reset_index()

In [355]:
df.rename(columns={df.columns[0]: 'year', df.columns[1]: 'month', df.columns[2]: 'us_city_average_retail_price'}, inplace=True)
df['product_name'] = article
df = df[['product_name', 'year', 'month','us_city_average_retail_price']]

In [356]:
df.month = df.month.map(d)

In [357]:
df = df.sort_values(by=['year', 'month'])

In [358]:
df.to_csv(f"{article.lower().replace(' ', '_')}.csv", index=False)