In [9]:
# IMPORT LIBRARIES

import pandas as pd
import glob
import os

In [10]:
# Categorize products in categories

product_categories = {
    'Fruits': ['Bananas', 'Oranges', 'Strawberries', 'Tomatoes'],
    'Animal Products': ['Beef chunks', 'Beef steaks', 'Chicken', 'Eggs', 'Pork'],
    'Grains': ['Bread', 'Flour', 'Rice'],
    'Dairy Products': ['American Cheese', 'Cheddar cheese', 'Milk']
}

In [11]:
# Save all CSV filenames in an array
all_files = glob.glob(f"/content/*.csv")

print(all_files)

['/content/oranges.csv', '/content/pork.csv', '/content/bananas.csv', '/content/beef_steaks.csv', '/content/rice.csv', '/content/beef_chunks.csv', '/content/eggs.csv', '/content/american_cheese.csv', '/content/flour.csv', '/content/chicken.csv', '/content/milk.csv', '/content/cheddar_cheese.csv', '/content/strawberries.csv', '/content/bread.csv', '/content/tomatoes.csv']

In [12]:
# Get all dataframes and save in array "li"
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

In [13]:
# Merge all product dataframes in one dataframe
frame = pd.concat(li, axis=0, ignore_index=True)

frame.shape

(7128, 4)

In [14]:
li = []

for category, product in product_categories.items():
    # Filter the data to only include the products from a certain category
    category_data = frame[frame['product_name'].isin(product)]
    # Check if the filtered data is not empty
    if not category_data.empty:
      # Place the category name in a category column
      category_data['category'] = category
      # Put seperate dataframes again in array "li"
      li.append(category_data)

<ipython-input-14-1971ef08f442>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['category'] = category
<ipython-input-14-1971ef08f442>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['category'] = category
<ipython-input-14-1971ef08f442>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['category'] = category
<ipython-input-14-1971ef08f442>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['category'] = category

In [15]:
# Merge all product dataframes in one dataframe
frame = pd.concat(li, axis=0, ignore_index=True)

frame.shape

(7128, 5)

In [16]:
frame.sort_values(by=['product_name', 'year', 'month'], inplace=True)
frame.reset_index(drop=True, inplace=True)

In [17]:
frame.head()

      product_name  year  month  us_city_average_retail_price        category
0  American Cheese  1984      1                         2.485  Dairy Products
1  American Cheese  1984      2                         2.495  Dairy Products
2  American Cheese  1984      3                         2.493  Dairy Products
3  American Cheese  1984      4                         2.501  Dairy Products
4  American Cheese  1984      5                         2.472  Dairy Products

In [18]:
# Save dataframe to CSV
frame.to_csv('/content/all_products.csv', index=False)