In [182]:
import pandas as pd
import numpy as np

In [183]:
years = np.arange(2003,2024)
d = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct': 10, 'Nov':11, 'Dec':12}

In [184]:
xls = pd.ExcelFile('CPIHistoricalForecast.xlsx')

for year in years:
  locals()["df_"+str(year)] = pd.read_excel(xls, f'{year}', header=2, index_col=0)
  locals()["df_"+str(year)] = locals()["df_"+str(year)][locals()["df_"+str(year)].index.notnull()][0:-6]

  locals()["df_"+str(year)] = locals()["df_"+str(year)].stack().reset_index()

  for i in range(0,int(locals()["df_"+str(year)].shape[0]/3)):
    locals()["df_"+str(year)].at[i*3+1, 'lower'] = locals()["df_"+str(year)].at[i*3, 0]
    locals()["df_"+str(year)].at[i*3+1, 'mid'] = locals()["df_"+str(year)].at[i*3+1, 0]
    locals()["df_"+str(year)].at[i*3+1, 'upper'] = locals()["df_"+str(year)].at[i*3+2,0]
    locals()["df_"+str(year)].drop([i*3,i*3+2], inplace=True)


    new = locals()["df_"+str(year)].at[i*3+1, "level_1"].split("-")
    locals()["df_"+str(year)].at[i*3+1, "curr_month"] = new[0]
    locals()["df_"+str(year)].at[i*3+1, "curr_year"] = 2000 + int(new[1])

  locals()["df_"+str(year)].curr_month = locals()["df_"+str(year)].curr_month.map(d)
  locals()["df_"+str(year)].reset_index(inplace=True, drop=True)
  locals()["df_"+str(year)].drop(['level_1', 0], 1, inplace=True)
  locals()["df_"+str(year)].rename(columns={locals()["df_"+str(year)].columns[0]: 'cpi_item'}, inplace=True)
  locals()["df_"+str(year)]['pred_year'] = year
  locals()["df_"+str(year)] = locals()["df_"+str(year)][['cpi_item', 'curr_month', 'curr_year', 'lower', 'mid', 'upper', 'pred_year']]

  locals()["df_"+str(year)].to_csv(f"cpi_historical_forecast_{year}.csv", index=False)

<ipython-input-184-ef444ba0e42b>:22: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  locals()["df_"+str(year)].drop(['level_1', 0], 1, inplace=True)

In [185]:
#locals()["df_"+str(i)] = locals()["df_"+str(i)].stack().reset_index()

In [186]:
# for i in range(0,int(locals()["df_"+str(year)].shape[0]/3)):
#   locals()["df_"+str(year)].at[i*3+1, 'lower'] = locals()["df_"+str(year)].at[i*3, 0]
#   locals()["df_"+str(year)].at[i*3+1, 'mid'] = locals()["df_"+str(year)].at[i*3+1, 0]
#   locals()["df_"+str(year)].at[i*3+1, 'higher'] = locals()["df_"+str(year)].at[i*3+2,0]
#   locals()["df_"+str(year)].drop([i*3,i*3+2], inplace=True)


#   new = locals()["df_"+str(year)].at[i*3+1, "level_1"].split("-")
#   locals()["df_"+str(year)].at[i*3+1, "curr_month"] = new[0]
#   locals()["df_"+str(year)].at[i*3+1, "curr_year"] = 2000 + int(new[1])

# locals()["df_"+str(year)].month = locals()["df_"+str(year)].month.map(d)
# locals()["df_"+str(year)].reset_index(inplace=True, drop=True)
# locals()["df_"+str(year)].drop(['level_1', 0], 1, inplace=True)
# locals()["df_"+str(year)]['pred_year'] = year

In [187]:
df_2007

        cpi_item  curr_month  curr_year  lower  mid  upper  pred_year
0       All food           7     2006.0    0.9  2.3    3.7       2007
1       All food           8     2006.0    1.0  2.4    3.7       2007
2       All food           9     2006.0    1.1  2.4    3.7       2007
3       All food          10     2006.0    1.3  2.5    3.7       2007
4       All food          11     2006.0    1.5  2.7    3.9       2007
..           ...         ...        ...    ...  ...    ...        ...
373  Other foods           8     2007.0    1.6  2.1    2.6       2007
374  Other foods           9     2007.0    1.7  2.1    2.5       2007
375  Other foods          10     2007.0    1.6  1.9    2.2       2007
376  Other foods          11     2007.0    1.7  1.9    2.1       2007
377  Other foods          12     2007.0    1.7  1.8    1.9       2007

[378 rows x 7 columns]